.reference {
    color: #F3FF4B;
    color: #F20070;
    color: #59EAFD;
    color: #5B9EC8;
    color: #070F22;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    /* font-family:monospace; */
    /* border-radius: 25px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

/* h1 { font-size: 24px; padding-bottom: 5px; }
h2 { font-size: 18px; padding-bottom: 5px; }
h3 { font-size: 18px; padding-bottom: 5px; }
h5 { font-size: 16px; padding-bottom: 5px;} */

body {
    background-color: rgb(124, 164, 199);
}

.wrapper {
    position: absolute;
    background-color: grey;
    border: 1px solid yellow;
    min-height: 20vh;
    margin-left: 20vw;
    width: 60vw;
    padding: 5px;
}

.wrapper.advahanced {
    margin-left: 0vw;
    width: 100vw;
}

.container {
    font-size:0px;  /*Nak buang space bila pakai inline block dkt child sebab x nak pakai flex oiiiiiiiiii ala babun*/
    position: relative;
    display: block;
    background-color: rgb(100, 96, 96);
    border: 1px solid red;
    /* padding: 10px; */
    padding: 10px 10px 10px 10px;
}

.item {
    position: relative;
    font-size: 14px;
    /* margin: 0px; */
    background-color: aliceblue;
    border: 1px solid black;
    min-height: 10vh;
    vertical-align: top;
    padding: 10px 5px 10px 5px;
}

.item.row { display: block; width: 100%; }

.item.col { display: inline-block; min-width: 20%; }
.item.col-2 { display: inline-block; width: 50%; }
.item.col-3 { display: inline-block; width: 33.33%; }
.item.col-4 { display: inline-block; width: 25%; }


.float-right {
    float: right;
}

.wrapper.advahancedtol {
    margin-left: 12vw;
    width: 88vw;
}

@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .wrapper {
        margin-left: 0vw;
        width: 100vw;
        padding: 5px;
    }

    
}